<!-- <nav>
    <a routerLink="/course" routerLinkActive="active">Courses</a>
    <a routerLink="/student" routerLinkActive="active">Students</a>
    <a routerLink="/teacher" routerLinkActive="active">Teachers</a>
    <a routerLink="/subject" routerLinkActive="active">Subjects</a>
    </nav> -->
    
        <nav class="navbar navbar-light bg-dark">
            <a routerLink="/course" routerLinkActive="active">Courses</a>
        <a routerLink="/student" routerLinkActive="active">Students</a>
        <a routerLink="/teacher" routerLinkActive="active">Teachers</a>
        <a routerLink="/subject" routerLinkActive="active">Subjects</a>
          </nav>
        <router-outlet> </router-outlet>
    
    
